// ------------- FONT SIZE ------------- \\
$fs-sm: 12px;
$fs-md: 20px;
$fs-lg: 30px;

// ------------- FONT WEIGHT ------------- \\
$normal: 500;
$medium: 600;
$bold: 700;

// ------------- COLORS ------------- \\
$white-color: #FFFFFF;
$primery-color: #CACACA;
$secondary-color: #979797;
$violet-color: #7F7FD5;
$pink-color: #E786D7;
$medium-color: #4D4D4D;
$dark-color: #282C31;
$extra-dark-color: #212427;

// ------------- MISC ------------- \\
$rounded: 14px;

// ------ MEDIA QUERIS ------\\
$screen-xl-max: 1200px;
$screen-lg-max: 992px;
$screen-md-max: 768px;
$screen-sm-max: 576px;
$screen-xs-max: 414px;